.threshold_error{
    width: 76%;
    margin-left: 28%;
}
.threshold_error .danger_icon {
    width: 7%;
    display: inline-block;
    margin-top: 7%;
    margin-left: 13%;
}
.threshold_error .validation_message {
    padding-left: 2%;
    display: inline-block;
    width: 70%;
    line-height: 1em;
    padding-top: 4%;
}
.notification-error{
    width: 76%;
    margin-left: 28%;
}

.threshold .font-16-res {
    font-size: 16px !important;
}
