
<div class="">
        <div class="row padding-l-0 padding-r-0">
            <div class="col">
                   {{deactivate_message_heading}}
                   <!-- <span class="popup_infoicon" ng-click="gotoInfo()"><img src="./img/setting/popup_info.png" alt=""></span> -->
                </div>
        </div>
        <div class="row row-center border-bottom-grey-solid" >
                <div class="col text-center">
                        <button ng-click="closeDeactivePopup()" class="button yes-button">
                                OK
                        </button>
                </div>
        </div>
      </div>
      <style>
      .yes-button{
        background: #549200;
        width: 40%;
        color: #fff;
        border-radius: 25px;
      }
      .no-button{
        background: #7B8DA1;
        width: 40%;
        border-radius: 25px;
        color: #fff;
        margin-left: 15%;
      }
      .button{
            min-height: 30px;
       }
      </style>