
 <ion-view  view-title="changePasword" class="alertPageImg">
	<div class="bar bar-header themeHeader">
		<div class="themeHeaderBgImg">
			<div class="themeHeaderDivLeft" ng-click="gotoSettingPg();"><img src="./img/backArrowBlue.png" class="themeHeaderIconOnLeft" /></div>
			<div class="themeHeaderDivCenter"><span class="themeHeaderTitle headeTextDark"> Change Password</span></div>
			<div class="themeHeaderDivRight"></div>
		</div>
	</div>
  <ion-content class="has-header has-footer themeContent contentStationDetail">
  <!--  
        <div class = "col-div button-row text-center" style="margin-top: 5vh;">
               <label class="item item-input changePasswordLabel">
				    <i class="icon  placeholder-icon"><img src="./img/shared/lockPass.png" class="PlaceholderIcon"/></i>
				    <input type="password" class="loginInputPassword changeInput" placeholder="Old Password" ng-model="password.old">
			  </label>
            </div>
            <div class = "col-div button-row text-center">
                 <label class="item item-input changePasswordLabel">
				     <i class="icon placeholder-icon"><img src="./img/shared/lockPass.png" class="PlaceholderIcon"/></i>
				    <input type="password" class="loginInputPassword changeInput" placeholder="New Password" ng-model="password.newPass">
				  </label>
            </div>
             <div class = "col-div button-row text-center">
                 <label class="item item-input changePasswordLabel">
				     <i class="icon placeholder-icon"><img src="./img/shared/lockPass.png" class="PlaceholderIcon"/></i>
				    <input type="password" class="loginInputPassword changeInput" placeholder="Confirm Password" ng-model="password.confirm">
				  </label>
            </div>
            <div ng-hide="hide" class="password_mismatch_section">
             <div ng-click="close();" class="cross">
             <img style="width: 30%;float: right;" alt="close" src="./img/shared/delete.png" />
             </div>
             <div style=" margin-top: 4%; width: 90%;margin-left: 5%;">
               <div class="exclamation_icon"><img style="width: 85%;float: right;" alt="error"src="./img/shared/exclamation.png"/></div>
               <div class="mismatch_message">
	               <div class="whoops">Whoops!</div>
	               <p style="color: #41504F;">Passwords don't match!</p>
               </div>               
             </div>
            </div>
            <div class = "col text-center">           
               <label class="item loginSubmit">
	               <button id="signInBtn" class="button loginBtnClass" ng-click="changePassword();">
				 	<span style="font-size:21px;font-family: Halvetica_light_neue;"class="loginLabelSpan">Change Password</span>
	               </button>
   			   </label>  
          </div> -->
          <!-- <div id ="doc"></div> -->
         <iframe id="change_pass_frame"src="http://docker.esprida.com:8580/ui/faces/user/changePassword.xhtml?username=nikhil@rootinfosol.com"></iframe>  
 
  </ion-content>
    <ion-tabs class="tabs-icon-top" id="dashboardFooter">
	
		  <ion-tab title="Home" icon="tabhome" ng-click="gotoDashboard();"> 
		  </ion-tab>
		
		 <!--<ion-tab title="Compare" icon="tabcompare" ng-click="gotoCompareview();">
		  </ion-tab>--> 
		
		  <ion-tab title="Events" badge="events_count" badge-style="badge-assertive" icon="tabalerts" ng-click="gotoAlertview();">
		  </ion-tab>
		  
		  <ion-tab title="Settings"  icon="tabsettings" ng-click="gotoSettingview();" class = "active">
		
		  </ion-tab>
	
	</ion-tabs>
</ion-view>